.holder{
    border: 1px solid green;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.item{
    border: 1px solid red;
}
/* Your CSS Code here. */